{% extends 'base.html' %}
{% block content %}
    <body style="background-color: black;">
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand" style="color: white; margin-left: 10px;">Welcome {{username}}</a>
            <a href="/userorders/" style="margin-right: 80px;" class="btn btn-outline-info" >my order</a>
            <a class="btn btn-danger" href="/userlogout/">logout</a>
        </nav>

        <h1 style="font-weight: bold; position: relative; margin-left: 500px; margin-top: 20px; color: silver;">PIZZA ONLINE</h1>

        <form method="post" action="/placeorder/">
            {% csrf_token %}
            <div class="container" style="margin: auto; width: 600px; margin-top: 50px;">
                <table style="width: 100%; color: white; margin-left: 100px;">
                        <tr>
                            <th>pizza</th>
                            <th>price</th>
                            <th>quantity</th>
                        </tr>
                        {% for pizza in pizzas %}
                        <tr>
                            <td>{{pizza.name}}</td>
                            <td>{{pizza.price}}</td>
                            <td><input type="number" min = "0" value="0" style = "width: 60px;" name="{{pizza.id}}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                <input type="text" placeholder="address" style="width: 350px;margin-top: 40px;margin-left: 140px;" name="address">
                <input value="place order" style="margin-top: 50px; margin-left: 250px;" class="btn btn-outline-success" type="submit" name="">
             </div>
        </form>
        {% for message in messages %}
        <p style="color: lime; margin-left: 585px; margin-top: 50px; font-weight: bold;">{{message}}</p>
        {% endfor %}
    </body>
{% endblock %}